<div class="content">
    <div class="img_clique">
    </div>
</div>  

<div>
<div class="saturn">
<%= image_tag('saturn.png')%>
<p> NICE TO HAVE YOU HERE :) </p>
<p>WE 'RE GOING TO CREATE SO MANY LOVELY MEMORIES TOGETHER</p>
<%= audio_tag('aphex_collapse.mp3', autoplay: true)%>
</div>

<div class="card">
  <%=image_tag('pan.jpg') %>
  <div class="container">
    <h4><b>Lapinou</b></h4> 
    <p>7ans</p>
    <p>helo i'm cute LOL</p> 
  </div>
</div>
</div>

<div class="defileParent">
<div class="defile">Let's find virtual LOVE today Lapinou!!! What a biutiful werld !! Today is your LUCKY day !!! you are so wonderful !!! Let's find virtual LOVE today Lapinou!!! What a biutiful werld !! Today is your LUCKY day !!! you are so wonderful !!! Let's find virtual LOVE today Lapinou!!! What a biutiful werld !! Today is your LUCKY day !!! you are so wonderful !!! TOGETHER, we can make so many great things :) :) :) :)</div>
</div>



